.board {
  display: grid;
  width: 50%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr)
}

/*how to stop buttons from stretching with the page?*/

button {
  padding: 100px 100px;
  background-color:darkslategray;
  border-radius: 25px;
  width: 100px;
  height: 100px;
  font-size: x-large;
}

#box {
  display: none
}
