h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:cornflowerblue;
  text-shadow: 2px 2px #272727;
  margin-left: 170px;
}

.board {
  display: grid;
  width: 50%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr)
}

/*how to stop buttons from stretching with the page?*/

button {
  padding: 100px 100px;
  background-color:rgb(181, 245, 245);
  border-radius: 25px;
  border-color:teal;
  width: 100px;
  height: 100px;
  font-size: x-large;
}

#box {
  width: 400px; 
  height: 100px;
  background: cornflowerblue;
  border-radius: 25px;
  text-align: center;
  display: none;
}
